
.container {
    background-color: silver;
    flex-direction: row;

    justify-content: space-between;
    

    display: flex;
}

.caixa {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}